{% extends "layouts/base-site.html" %}

{% block title %} Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}

<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/static/assets/img/picnic.jpg');">
    </div>
    <div class="content-center">
      <div class="container">
        <h3 class="title">Register</h3>
      </div>
    </div>
  </div>
  <div class="section section-register">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h3 class="description">
          Here is where you check what you and your friends are both comfy with.
          </h3>
        </div>
      </div>
    </div>
  </div>


  {% include 'includes/footer.html' %}

</div>

{% endblock content %}
