{% extends "layouts/base-site.html" %}

{% block title %} Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}

  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/static/assets/img/picnic.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">Synch.Page : Simplfying event-planning in the Covid vaccine era.</h1>
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">How do I use Synch.Page?</h2>
            <h5 class="description">
              Register yourself to list everything you're comfortable doing with others. Search to compare your comfort level to your friends' and find common ground.
            </h5>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="text-center">
          <a href="/register" class="btn btn-primary btn-round">
            Register
          </a>
          <a href="/compare" class="btn btn-primary btn-round">
            Compare
          </a>
        </div>
      </div>
    </div>


    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}
