{% extends "layouts/base-site.html" %}

{% block title %} Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} landing-page {% endblock body_class %}

{% block content %}

<div class="wrapper">
  <div class="page-header clear-filter page-header-small" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image:url('/static/assets/img/header.jpg');">
    </div>
    <div class="content-center">
      <div class="container">
        <h5 class="title">Register</h5>
      </div>
    </div>
  </div>
  <div class="section section-register">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h3 class="description">
          Here is where you register your comfort level.
          </h3>
        </div>
      </div>
      <div class="row">

        <form class="form" method="post" action="/adduser">

          {{ form.hidden_tag() }}

          <div class="card-header text-center">
            <div class="logo-container">
              <img src="/static/assets/img/now-logo.png" alt="">
            </div>
          </div>
          <div class="card-body">

            <p class="description text-center">                  
            </p>

            <div class="input-group no-border input-lg">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons users_circle-08"></i>
                </span>
              </div>
              {{ form.username(class="form-control") }}
            </div>


          <div class="card-footer text-center">
            <button type="submit" name="login" class="btn btn-primary btn-round btn-lg btn-block">Register</button>
        </form>

    </div>
    </div>
  </div>


  {% include 'includes/footer.html' %}

</div>

{% endblock content %}
