
  <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
      <div class="container">
        <div class="dropdown button-dropdown">
          <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
            <span class="button-bar"></span>
            <span class="button-bar"></span>
            <span class="button-bar"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/register">Register</a>
            <a class="dropdown-item" href="/search">Compare</a>
          </div>
        </div>
        <div class="navbar-translate">
          <a class="navbar-brand" href="/" data-placement="bottom">
            Menu
          </a>
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar top-bar"></span>
            <span class="navbar-toggler-bar middle-bar"></span>
            <span class="navbar-toggler-bar bottom-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="/static/assets/img/blurred-image-1.jpg">
          <ul class="navbar-nav">

          </ul>
        </div>
      </div>
    </nav>
